body {
  font-family: "PT Sans", sans-serif;
  margin: 20px;
  line-height: 1.4;
  font-size: 16px;
}

pre {
  font-family: "PT Sans", sans-serif;
  line-height: 1.4;
  font-size: 16px;
}

main {
  padding: 20px;
}

.warning {
  color: #ccc;
  margin-top: -15px;
  margin-bottom: 30px;
}

.error {
  color: rgb(255, 0, 0);
  margin-top: -15px;
  margin-bottom: 30px;
}

li {
  margin-bottom: 10px;
}
