---
layout: layouts/songs.njk
title: Arev Es Te Lusin
---

<pre>

Arev es te lusin ek linenq miasin

Sirahar im srti tery darcir
heranal mi porcir.
Arev es te lusin ek linenq miasin
Sirahar im srti tery darcir
heranal mi porcir.

Te kuzes sirts hanem tam tam tam tam tam

Ur gnas qo hetqerov gam gam gam gam….
Amenalawy dues sirum em sirum em qez
Arews Barevs Garuns jans dues

Annman e sirun im yary

Vardic qnqush anush mekujary
Ashxarhy indz hamar draxt e sirelis
Miayn te du asa sirum em sirelis.
Annman e sirun im yary
Vardic qnqush anush mekujary
Ashxarhy indz hamar draxt e sirelis
Miayn te du asa sirum em sirelis
**************

Sirts qez sirela qo sirun tirela

Chtoxnes vor mnam es men menak
karotem sharunak.
Sirts qez sirela qo sirun tirela
Chtoxnes vor mnam es men menak
karotem sharunak.

Te kuzes sirts hanem tam tam tam tam tam

Ur gnas qo hetqerov gam gam gam gam….
Amenalawy dues sirum em sirum em qez
Arews Barevs Garuns jans dues.

Annman e sirun im yary

Vardic qnqush anush mekujary
Ashxarhy indz hamar draxt e sirelis
Miayn te du asa sirum em sirelis.

Annman e sirun im yary
Vardic qnqush anush mekujary
Ashxarhy indz hamar draxt e sirelis
Miayn te du asa sirum em sirelis.

*****


Annman e sirun im yary

Vardic qnqush anush mekujary
Ashxarhy indz hamar draxt e sirelis
Miayn te du asa sirum em sirelis.

Annman e sirun im yary
Vardic qnqush anush mekujary
Ashxarhy indz hamar draxt e sirelis
Miayn te du asa sirum em sirelis.
Ashxarhy indz hamar draxt e sirelis
Miayn te du asa sirum em sirelis.

Te kuzes sirts hanem tam tam tam tam

Ur gnas qo hetqerov gam gam gam gam….
Amenalawy dues sirum em sirum em qez
Arews Barevs Garuns jans dues
Annman e sirun im yary

Vardic qnqush anush mekujary
Ashxarhy indz hamar draxt e sirelis

Miayn te du asa sirum em sirelis.
Annman e sirun im yary

Vardic qnqush anush mekujary
Ashxarhy indz hamar draxt e sirelis

Miayn te du asa sirum em sirelis.
Ashxarhy indz hamar draxt e sirelis
Miayn te du asa
Miayn te du asa
Miayn te du asa
sirum em sirelis.
</pre>
