---
layout: layouts/songs.njk
title: Bella Ciao
---

<pre>
Stamattina mi sono alzato
o bella, ciao! bella, ciao! bella, ciao, ciao, ciao!
Stamattina mi sono alzato,
e ho trovato l'invasor.

O partigiano, portami via,
o bella, ciao! bella, ciao! bella, ciao, ciao, ciao!
O partigiano, portami via,
ché mi sento di morir.

E se io muoio da partigiano,
o bella, ciao! bella, ciao! bella, ciao, ciao, ciao!
E se io muoio da partigiano,
tu mi devi seppellir.

E seppellire lassù in montagna,
o bella, ciao! bella, ciao! bella, ciao, ciao, ciao!
E seppellire lassù in montagna,
sotto l'ombra di un bel fior.

Tutte le genti che passeranno,
o bella, ciao! bella, ciao! bella, ciao, ciao, ciao!
e le genti che passeranno,
Mi diranno «Che bel fior!»

«E questo è il fiore del partigiano»,
o bella, ciao! bella, ciao! bella, ciao, ciao, ciao!
«E questo è il fiore del partigiano,
morto per la libertà!»

«E questo è il fiore del partigiano»,
morto per la libertà!» (bis)
</pre>