---
tags: additionalSong
layout: layouts/songs.njk
title: Te champan indz ure tanum
---

<a href="https://www.youtube.com/watch?v=1fwGgVSfFVY" target="_blank">Link to Song</a>

<pre>
Kyanq@s molor kyanq@s txur
Yes gnum em chgitem ur
Ter im Astvac du indz uj tur
Tes @ngel em yes drne dur

Amper yelan Qula-qula u sharvecin glxis vra
Amper yelan qula-qula u sharvecin glxis vra

Gnam gnam u heranam
Baxtis champen guce banam
Dajan ser@s yes moranam
Aprac kyanqic vor haskanam

Amper yelan qula-qula u sharvecin glxis vra
Amper yelan qula-qula u sharvecin glxis vra

Yes chgitem chem haskanum
Te champan indz ure tanum
Ur vor kuzi tox tani indz
Miayn paxchem yes qezanic
Yes chgitem chem haskanum
Te champan indz ure tanum
Ur vor kuzi tox tani indz
Miayn paxchem yes qezanic

Qarot e champas ax qarot
Karot em [bad word] ax karot
Indz caver vor tvecir
Im kyanq@s hunic hanecir

Amper yelan qula-qula u sharvecin glxis vra
Amper yelan qula-qula u sharvecin glxis vra

Du ches karox verq@ bujel
Yes qo siruc shatem tujel
Chem uzum qez noric tesnem
Noric izur kyanq@s mashem

Amper yelan qula-qula u sharvecin glxis vra
Amper yelan qula-qula u sharvecin glxis vra

Bari bari martik shat kan
Baic chka ser ser iskakan
Voronumis chanaparin
Yes chgta sern im bari

Amper yelan qula-qula u sharvecin glxis vra
Amper yelan qula-qula u sharvecin glxis vra

Yes chgitem chem haskanum
Te champan indz ure tanum
Ur vor kuzi tox tani indz
Miayn paxchem yes qezanic
Ax chgitem chem haskanum
Te champan indz ure tanum
Ur vor kuzi tox tani indz
Miayn paxchem yes qezanic

Qarot e champas ax qarot
Karot em sirut ax karot
Indz caver vor tvecir
Im kyanq@s hunic hanecir

Amper yelan qula-qula u sharvecin glxis vra
Inchu kyanq@ ayspes darcav
Im ser@ indz moracav

Amper yelan qula-qula u sharvecin glxis vra
Amper yelan qula-qula u sharvecin glxis vra
</pre>