---
tags: song
layout: layouts/songs.njk
title: Красиво (Меладзе)
---

<pre>
В первый день весны
На краешке земли
Нечаянно мы встретились с тобой.

Падал белый снег,
И розы не цвели,
Но к нам пришла весенняя любовь -
Она была отчаянно красива.

В первый день зимы
На краешке земли
Нечаянно расстались мы с тобой.

Падал первый снег,
И розы отцвели –
От нас ушла весенняя любовь,
Но ты была отчаянно красива.

Припев:
Красиво ты вошла в мою грешную жизнь,
Красиво ты ушла из нее,
Но, играя, разбила мне душу,
А ведь это совсем не игрушка –
Это сердце мое.

Красиво ты вошла в мою грешную жизнь,
Красиво ты ушла из нее,
Но, играя, разбила мне душу,
А ведь это совсем не игрушка –
Это сердце мое.

Кончилась любовь,
Когда пришла зима,
Недолог был сезонный наш роман
Но было все отчаянно красиво.

Припев:
Красиво ты вошла в мою грешную жизнь,
Красиво ты ушла из нее,
Но, играя, разбила мне душу,
А ведь это совсем не игрушка –
Это сердце мое.

Красиво ты вошла в мою грешную жизнь,
Красиво ты ушла из нее,
Но, играя, разбила мне душу,
А ведь это совсем не игрушка –
Это сердце мое.

Это сердце мое…	
</pre>