---
tags: additionalSong
layout: layouts/songs.njk
title: Vorn e mexks
---

<a href="https://www.youtube.com/watch?v=1Frxw4URgMY" target="_blank">Link to Song</a>

<pre>
Mi pah patmem ays im kyanqic molorvac
Hiastapvac ameninchic 
Inchi hamar ashxarh eka
Korcrel em es im sers
Korcrel em amen inch
Vorn e mexks de indz asa
Xndrum em qez ter astvac

x2
Axachum em mi char areq
Buzheq ays im cavery
Inchi hamar ays pes exav
Vorn e mexks ter astvac
Inchi hamar ashxarh eka
Inche mexks ter indz du asa

Garunners lur gnacin
Curt ashun exav
Inche mexks inchi hamar xndrum em qez ter astvac
Ax hognel em srtis cavic
Hognel ays puch ashxarhic

Vorn e mexks inchi hamar
Xndrum em qez ter astvac

x2
Axachum em mi char areq
Buzheq ays im cavery
Inchi hamar ays pes exav
Vorn e mexks ter astvac
Inchi hamar ashxarh eka
Inche mexks ter indz du asa

Mi pah patmem ays im kyanqic
Ays im kyanqic molorvac
Hiastapvac ameninchic 
Inchi hamar ashxarh eka
Korcrel em es im sers
Korcrel em amen inch
Vorn e mexks de indz asa
Xndrum em qez ter astvac

x4
Axachum em mi char areq
Buzheq ays im cavery
Inchi hamar ays pes exav
Vorn e mexks ter astvac
Inchi hamar ashxarh eka
Inche mexks ter indz du asa


——

Տիգրան Ժամկոչյան - Ո՞րն է մեղքս, Տեր Աստված

Մի պահ պատմեմ այս իմ կյանքից մոլորված
Հիասթափված ամեն ինչից,
Ինչի՞ համար աշխարհ եկա,
Կորցրել եմ ես իմ սերս,
Կորցրել եմ ամեն ինչ,
Ո՞րն է մեղքս դե ինձ ասա
Խնդրում եմ քեզ, Տեր Աստված

X2
Աղաչում եմ մի ճար արեք
Բուժեք այս իմ ցավերը
Ինչի՞ համար այսպես եղավ
Ո՞րն է մեղքս Տեր Աստված,
Ինչի՞ համար աշխարհ եկա,
Ին՞չ է մեղքս, Տեր ինձ դու ասա

Գարուններս լուռ գնացին
Ցուրտ աշուն եկավ
Ի՞նչ է մեղքս, ինչի՞ համար
Խնդրում եմ քեզ Տեր Աստված
Ա՜խ հոգնել եմ սրտիս ցավից
Հոգնել այս փուչ աշխարհից

Ո՞րն է մեղքս, ինչի՞ համար
Խնդրում եմ քեզ Տեր Աստված

X2 
Աղաչում եմ մի ճար արեք
Բուժեք այս իմ ցավերը
Ինչի՞ համար այսպես եղավ
Ո՞րն է մեղքս Տեր Աստված,
Ինչի՞ համար աշխարհ եկա,
Ին՞չ է մեղքս, Տեր ինձ դու ասա

Մի պահ պատմեմ այս իմ կյանքից,
Այս իմ կյանքից մոլորված,
Հիասթափված ամեն ինչից,
Ինչի՞ համար աշխարհ եկա
Կորցրել եմ ես իմ սերս
Կորցրել եմ ամեն ինչ
Ո՞րն է մեղքս դե ինձ ասա
Խնդրում եմ քեզ Տեր Աստված

X2 
Աղաչում եմ մի ճար արեք
Բուժեք այս իմ ցավերը
Ինչի՞ համար այսպես եղավ
Ո՞րն է մեղքս Տեր Աստված,
Ինչի՞ համար աշխարհ եկա,
Ին՞չ է մեղքս, Տեր ինձ դու ասա
</pre>