---
tags: song
layout: layouts/songs.njk
title: Наше Лето (Яхта, Парус)
---

<pre>
Тихо лужи покрывает лед, помнишь мы с тобою
Целовались ночи напролет под шум прибоя
Это лето не вернуть уже я знаю
Но когда печаль в моей душе я вспоминаю:

Припев:
Яхта, парус, в этом мире только мы одни.
Ялта, август и мы с тобою влюблены.
Яхта, парус, в этом мире только мы одни.
Ялта, август и мы с тобою влюблены.

Но расстаться нам с тобой пришлось кончилась путевка
И вагон плацкартный меня нес в Новую Каховку
Не забуду ночи при луне и твою улыбку
Ты открытку подарила мне, а на той открытке:

Припев:
Яхта, парус, в этом мире только мы одни.
Ялта, август и мы с тобою влюблены.
Яхта, парус, в этом мире только мы одни.
Ялта, август и мы с тобою влюблены.

Проигрыш.

Припев:
Яхта, парус, в этом мире только мы одни.
Ялта, август и мы с тобою влюблены.
Яхта, парус, в этом мире только мы одни.
Ялта, август и мы с тобою влюблены.
</pre>