---
tags: additionalSong
layout: layouts/songs.njk
title: Srtid Banalin
---

<pre>
Ko achk'er@ cov en kapujt
Du kanach es u caghkun
Du chptum es arevashogh
Ko shurtern en vardagujn
Kezanov e kjank'@ xndum
Kezanov em erdganik
Mi kjank' unem nvirem kez
Mi herana indzanic.

Bajc apsos chem karogh
Gtnel srtit banalin
Kez sirem kez shojem
Amur seghmem im krck'in
Im tandgank'n im ser@
Patmem hamajn ashxarhin
Kez sirem chsirem
Ax chgitem inch anem.

Sers patmen vardern anush
Siro chat@ imanam
Indz het erdgen anush havk'er
Aranc kez vonc dimanam
Aranc sirel ajs ashxarhum
Indz hamar el kjank' chka
El chem karogh el uj chunem
Ax chgitem inch anem.</pre>