---
tags: song
layout: layouts/songs.njk
title: Ты так красива, невыносимо
---

<pre>
Каждый сантиметр, каждый край души и тела
Всё, что пожелаешь, выбирай, всё, что ты хотела
Поцелуи под луной или в платье белом
Почему же не со мной?

Ты так красива, невыносимо
Рядом с тобою быть нелюбимым
Останови же это насилие
Прямо скажи мне, и тему закрыли

Я как мальчик попадаю в плен твоих флюидов
Но не замечаю перемен, горечь и обида
Что случилось? Сам не свой, не могу поверить
Ты играешь мою роль

Ты так красива, невыносимо
Рядом с тобою быть нелюбимым
Останови же это насилие
Прямо скажи мне, и тему закрыли

Ты так красива, невыносимо
Рядом с тобою быть нелюбимым
Останови же это насилие
Прямо скажи мне, и тему закрыли

Ты так красива, невыносимо
Рядом с тобою быть нелюбимым
Останови же это насилие
Прямо скажи мне, и тему закрыли

</pre>