---
tags: song
layout: layouts/songs.njk
title: До скорой встречи
---

<pre>
Вчерашний вечер
Из подворотни
На всё согласен.
Спасаться нечем,
И я охотник,
И я опасен.
И очень скоро,
Ещё минута,
И доверяю.
И мухоморы,
Конечно круто,
Но тоже вряд ли.

До скорой встречи,
До скорой встречи,
Моя любовь
К тебе навечно.
До скорой встречи,
До скорой встречи.

До скорой встречи,
До скорой встречи,
Моя любовь
К тебе навечно.
До скорой встречи,
До скорой встречи.

Тычинка-пестик,
Любовь научит
Совсем не пошло,
Когда мы вместе
Никто не круче,
Но это в прошлом.
И я не знаю,
И я теряю
Вчерашний вечер,
Моя смешная,
Моя сквозная,
До скорой встречи.

До скорой встречи,
До скорой встречи,
Моя любовь
К тебе навечно.
До скорой встречи,
До скорой встречи.

До скорой встречи,
До скорой встречи,
Моя любовь
К тебе навечно.
До скорой встречи,
До скорой встречи.

Моя love story
Короче ночи,
Смотрю на время,
И беспонтово
Мотает счётчик
Такси на север.
И я не знаю,
И я теряю
Вчерашний вечер,
Моя смешная,
Моя родная,
До скорой встречи.

До скорой встречи,
До скорой встречи,
Моя любовь
К тебе навечно.
До скорой встречи,
До скорой встречи.

До скорой встречи,
До скорой встречи,
Моя любовь
К тебе навечно.
До скорой встречи,
До скорой встречи.

До скорой встречи,
До скорой встречи,
Моя любовь
К тебе навечно.
До скорой встречи,
До скорой встречи.

До скорой встречи,
До скорой встречи,
Моя любовь
К тебе навечно.
До скорой встречи,
До скорой встречи.
</pre>
