---
layout: layouts/songs.njk
title: Xent
---

<p class="warning">🇦🇲 Հայերեն տարբերակը ներգևում</p>

<pre>
Xent Xent

Aha bacvume or@ ev ir het beröm nor huys
Vor kgas indz mot u berelov mi shoxi luys
K zhptas anmex du, zhpitov qo xelahand (?)
U kases “eka, es arden qonnem havityan”
Bayc avax amen@ zoq erazer u cnorq (?)
k mnas srtum im husheri karot

xent, xent, xent
kraki pes xent axchikes
mek arev u mek lusines
mek kexciq, mek potorikes

xent, xent, xent
kraki pes xent axchikes
mek arev u mek lusines
mek kexciq, mek potorikes

verj@(?) bave ser im,
chem uzum linel geri es
durs galov francisco
k gtnem hrashk mekin es
xaxeric hognelem, shoq amran@ dzyan patiles
bayc krkin es zgumem mievnuyne indz sirumes

xent, xent, xent
kraki pes xent axchikes
mek arev u mek lusines
mek kexciq, mek potorikes

xent, xent, xent
kraki pes xent axchikes
mek arev u mek lusines
mek kexciq, mek potorikes

Aha bacvume or@ ev ir het beröm nor huys
Vor kgas indz mot u berelov mi shoxi luys
Bayc avax amen@ zoq erazer u cnorq (?)
k mnas srtum im husheri karot

xent, xent, xent
kraki pes xent axchikes
mek arev u mek lusines
mek kexciq, mek potorikes

xent, xent, xent
kraki pes xent axchikes
mek arev u mek lusines
mek kexciq, mek potorikes

——

Ահա բացվում է օրը և իր հետ բերում նոր հույս 
Որ կգաս ինձ մոտ ու բերելով մի շողի լույս 
Կժպտաս անմեղ դու, ժպիտով քո խելահար 
Ու կասես «եկա, ես արդեն քոնն եմ հավիտյան» 
Բայց ավաղ ամենը զոք երազ էր ու ցնորք 
Կմնաս սրտում իմ՝ հուշերի կարոտ 

*x(2)*
Խենթ, խենթ, խենթ 
Կրաի պես խենթ աղջիկ ես 
Մեկ արև ու մեկ լուսին ես
Մեկ հեզիկ մեկ փոթորիկ ես 

Վերջ, էլ բաց է սեր իմ 
Չեմ ուզում լինել գերի ես 
Դուրս գալով ցանցից քո 
Կգտնեմ հրաշք մեկին ես 
Խաղերից հոգնել եմ, շոգ ամռանը ձյան փաթիլ ես 
Բայց կրկին ես զգոում եմ միևնույն է ինձ սիրում ես

*x(2)*
Խենթ, խենթ, խենթ 
Կրաի պես խենթ աղջիկ ես 
Մեկ արև ու մեկ լուսին ես
Մեկ հեզիկ մեկ փոթորիկ ես 

Ահա բացվում է օրը և իր հետ բերում նոր հույս 
Որ կգաս ինձ մոտ ու բերելով մի շողի լույս 
Բայց ավաղ ամենը զոք երազ էր ու ցնորք 
Կմնաս սրտում իմ, հուշերի կարոտ 

*x(&#8734)* 
Խենթ, խենթ, խենթ 
Կրաի պես խենթ աղջիկ ես 
Մեկ արև ու մեկ լուսին ես
Մեկ հեզիկ մեկ փոթորիկ ես 

</pre>