---
tags: song
layout: layouts/songs.njk
title: Знаешь ли ты
---

<pre>
[Куплет 1]:
Я так привыкла жить одним тобой, одним тобой.
Встречать рассвет и слышать, как проснёшься не со мной.
Мне стало так легко дышать в открытое окно
И повторять (и повторять) ей лишь одно:
Источник https://www.gl5.ru

[Припев]:
Знаешь ли ты, вдоль ночных дорог
Шла босиком не жалея ног.
Сердце его теперь в твоих руках, -
Не потеряй его и не сломай.

Чтоб не нести вдоль ночных дорог
Пепел любви в руках сбив ноги в кровь.
Пульс его теперь в твоих глазах.
Не потеряй его и не сломай (и не сломай).

[Куплет 2]:
И в январе пусть бьётся серый дождь к нему в окно.
Пусть обнимает не меня, но помнит всё-равно (всё-равно).
И пусть случайно моё имя вслух произнесёт,
И пусть молчит, что всё же помнит.

А за окном сжигает фонари проклятый дождь.
Мой нежный мальчик, ты прости меня за эту дрожь.
И пусть сквозь слёзы прошептала тихое "Прощай..." (прощай) -
Не забывай (не забывай), не забывай (не забывай).

[Припев]:
Знаешь ли ты, вдоль ночных дорог
Шла босиком не жалея ног.
Сердце его теперь в твоих руках, -
Не потеряй его и не сломай.

Чтоб не нести вдоль ночных дорог
Пепел любви в руках сбив ноги в кровь.
Пульс его теперь в твоих глазах.
Не потеряй его и не сломай (и не сломай).

[Проигрыш]:

[Припев]:
Знаешь ли ты, вдоль ночных дорог
Шла босиком не жалея ног.
Сердце его теперь в твоих руках, -
Не потеряй его и не сломай.

Чтоб не нести вдоль ночных дорог
Пепел любви в руках сбив ноги в кровь.
Пульс его теперь в твоих глазах.
Не потеряй его...

</pre>