<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{title}}</title>
        <link rel="stylesheet" href="../../css/index.css" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <nav class="main-navigation">
                <a class="main-navigation__item" href="/index.html">Home</a>
                <a class="main-navigation__item" href="https://oganisyan.com" target="_blank">About</a>
            </nav>
        </header>
        {{ content | safe }}
    </body>
    <section class="credentials">
        <p class="credentials__description">
            Created by humans on Planet Earth
        </p>
        <a href="https://oganisyan.com" target="_blank">oganisyan.com</a>
    </section>
</html>