---
layout: layouts/main.njk
---

<main>
  <h1>{{title}}</h1>
  {{ content | safe }}
</main>

<footer>
  <section class="song-navigation">
    {% if prevSong.url %}
    <p class="ctr song-navigation__item">
        <strong>⬅️</strong>
        <a class="previous" href="{{ prevSong.url }}">{{ prevSong.data.title }}</a>
    </p>
    {% endif %}
    {% if nextSong.url %}
    <p class="ctr song-navigation__item">
        <a class="next" href="{{ nextSong.url }}">{{ nextSong.data.title }}</a>
        <strong>➡️</strong>
    </p>
    {% endif %}
  </section>
</footer>